<%= form_with(model: @blog, local: true ,url: choose_new_or_edit ) do |form| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= @blog.errors.count %>Error Occored</h2>
      <ul>

      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="blog_title">
    <%= form.label :content %>
    <%= form.text_field :content %>
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>
  
  <div class="blog_title">
    
    <%= form.file_field :image, class: "fileInput",style: "display:none;", id: :blog_image  %>

  </div> 
  
  <div class="input-group">
    <input type="text" id="image" class="form-control" placeholder="select file...">
    <span class="input-group-btn"><button type="button" class="btn btn-info" onclick="$('input[id=blog_image]').click();">Browse</button></span>
  </div>
  <p>jpg,jpeg,gif,png only</p>

  <script>
    $('input[id=blog_image]').change(function() {
      $('#image').val($(this).val().replace("C:\\fakepath\\", ""));
    });
  </script>
  
  <%= form.submit %>
<% end %>

<%= link_to 'Back To Index', blogs_path,  class: 'btn btn-primary' %>