<h1>Sign up</h1>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<ul>
<%= form_with(model: @user, local: true) do |f| %>  
  <li>
  <%= f.label :name %>
  <%= f.text_field :name %>
  </li>
  <li>
  <%= f.label :email %>
  <%= f.email_field :email %>
  </li>
  <li class="pass">
  <%= f.label :password %>
  <%= f.password_field :password %>
  </li>
  <li class="pass">
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  </li>
  <li>
  <%= f.label :image %>
  <%= f.file_field :image, id: :user_image %>
  </li>
  <li>
  <%= f.submit "Create my account" %>
  </li>
<% end %>

</ul>