<h1>The Page Of <%= @user.name %></h1>

<p>E-Mail Adress: <%= @user.email %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag(@user.image) %>
</p>

<h2>List Of Favorite Blogs</h2>

    <% @favorite_blogs.each do |favorite| %>
    
      <div class="container-fluid">
        <ul class="row">
          <li class="col-lg-12"><%= favorite.content %></li>
          <li class="col-lg-12"><%= image_tag favorite.image.to_s %></li>
        </ul>    
      </div>
    <% end %>