<!DOCTYPE html>
<html>
  <head>
    <title>Rebuild Insta-Clone</title>
    <%= csrf_meta_tags %>
    
    <meta name="viewport" content="width=device-width">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <header>
      <div class="padding">
      <ul>
        <% if logged_in? %>
          <li id="new-blog-link">
          <%= link_to "Profile", user_path(current_user.id) %>
          </li> 
          <li id="new-blog-link">
          <%= link_to 'Home', top_blogs_path %>
          </li>        
          <li id="new-blog-link">
          <%= link_to 'Index', blogs_path %>
          </li>
          <li id="new-blog-link">
          <%= link_to 'New', new_blog_path %>
          </li>
          <li id="new-blog-link">
          <%= link_to "Logout", session_path(current_user.id), method: :delete %> 
          </li> 
        <% else %>
          <li id="new-blog-link">
          <%= link_to "Sign up", new_user_path %>
          </li>
          <li id="new-blog-link">
          <%= link_to "Login", new_session_path %>
          </li>
        <% end %>          
      </ul>
      </div>
    </header>



    
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>    
  
    <%= yield %>
    
    <footer>
      <p2>Copyright © 2018 Takuya Tobisawa</p2>
    </footer>
    
  </body>
</html>
